<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation=" http://www.springframework.org/schema/beans   
            http://www.springframework.org/schema/beans/spring-beans-2.5.xsd  
            http://www.springframework.org/schema/context  
            http://www.springframework.org/schema/context/spring-context-2.5.xsd  
            http://www.springframework.org/schema/aop  
            http://www.springframework.org/schema/aop/spring-aop-2.5.xsd  
            http://www.springframework.org/schema/tx  
            http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">
	
	<bean id="phoneInfoDAO"
		class="com.ruyicai.web.dao.impl.PhoneInfoDAOImpl">
		<property name="sqlMapClientTemplate" ref="sqlMapClientTemplate"></property>
	</bean>
	
	<bean id="customdao"
		class="com.ruyicai.web.dao.impl.CustomDaoImpl">
		<property name="sqlMapClientTemplate" ref="sqlMapClientTemplate"></property>
	</bean>
	
	<bean id="newsDAO"	class="com.ruyicai.web.dao.impl.NewsDAOImpl">
		<property name="sqlMapClientTemplate" ref="sqlMapClientTemplate"></property>
	</bean>
	<bean id="newsCategoryDAO"
		class="com.ruyicai.web.dao.impl.NewsCategoryDAOImpl">
		<property name="sqlMapClientTemplate" ref="sqlMapClientTemplate"></property>
	</bean>
<bean id="channel_TemplateDAO"
		class="com.ruyicai.web.dao.impl.Channel_TemplateDAOImpl">
		<property name="sqlMapClientTemplate" ref="sqlMapClientTemplate"></property>
	</bean>
	<bean id="newsChannelDAO"
		class="com.ruyicai.web.dao.impl.NewsChannelDAOImpl">
		<property name="sqlMapClientTemplate" ref="sqlMapClientTemplate"></property>
	</bean>
	<bean id="newsInfoDAO"
		class="com.ruyicai.web.dao.impl.NewsInfoDAOImpl">
		<property name="sqlMapClientTemplate" ref="sqlMapClientTemplate"></property>
	</bean>
	<bean id="newsTemplateDAO"
		class="com.ruyicai.web.dao.impl.NewsTemplateDAOImpl">
		<property name="sqlMapClientTemplate" ref="sqlMapClientTemplate"></property>
	</bean>
	<bean id="phraseLibraryDAO"
		class="com.ruyicai.web.dao.impl.PhraseLibraryDAOImpl">
		<property name="sqlMapClientTemplate" ref="sqlMapClientTemplate"></property>
	</bean>
	<!-- #######对外接口######END -->
</beans>
