@charset "utf-8";
/* ------------------------------------------------------------------------
				Global Normalizing Styles   
------------------------------------------------------------------------- */
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, abbr, acronym, address, cite, code, del, dfn, em, img, ins,strike, strong, dl, dt, dd, ol, ul, li,fieldset, form, label, legend, object,table, col, colgroup, caption, summary, tbody, tfoot, thead, tr, th, td {margin:0; padding:0; border:0; background:transparent; font-family:"Microsoft Yahei","宋体";}
input, button {margin:0; padding:0;}
dl, dt, dd, ol, ul, li{display:block; list-style:none;}
body {color:#333; font-size:12px;}
h1, h2, h3, h4, h5, h6, p, ul, ol, dl {display:block; text-align:left; color:#000; font-weight:normal;}
ol, ul {list-style:none;}
select,input[type="submit"] {cursor:pointer;}
*+html img {margin-bottom:0!important;} /* Fix IE7 */
html>body/**/ img {margin-bottom:-3px;} /* Fix FireFox */
/* @media all and (min-width: 0px){img {margin-bottom:-2px!important;}}  Fix Opera */
textarea {overflow:auto;}



/* ------------------------------------------------------------------------
				                   Custom 
------------------------------------------------------------------------- */
/* remember to define focus styles! */
:focus {outline:0;}

/* remember to highlight inserts somehow! */
ins {text-decoration:none;}
del {text-decoration:line-through;}
abbr {cursor:help; border-bottom:1px dotted #999;}
acronym {cursor:help; border-bottom:1px dotted #999;}

/* tables still need 'cellspacing="0"' in the markup */
table {border-collapse:collapse; border-spacing:0;}

blockquote, q {quotes:none;}
blockquote:before, blockquote:after, q:before, q:after {content:'';}

/* ------------------------------------------------------------------------
				                 Links 
a:link, a:visited {text-decoration:none;}
a:hover {color:#F60;}
------------------------------------------------------------------------- */
a{text-decoration:none;}



/* ------------------------------------------------------------------------
				                  Hacks 
------------------------------------------------------------------------- */
/* ----- clear fix for floats ----- */
/* these styles instruct non-IE browsers to render container elements so that they fully enclose floats */		
/* without this class applied, a float might hang over the bottom border of it's container */
.clear {height:1px; margin-top:-1px; clear:both; line-height:1px; font-size:1px; overflow:hidden;}
.clearfix:after {content:"."; display:block; height:0; clear:both; visibility:hidden;}
.clearfix {display:inline-block;}
/* Hides from IE-mac \*/
* html .clearfix {height:1%;}
.clearfix {display:block;}
/* End hide from IE-mac */
* html .ie6clear {margin:0 0 -2px;}

